.introduction {
    width: 100%;
    height: auto;
}

.introduction {
    width: 100%;
    min-width: 1000px;
    height: auto;
}

.introduction {
    width: 90%;
    height: auto;
    margin: auto;
}