.name {
    padding: 0;
    margin: 0;
    border-top: 2px solid rgb(255, 172, 47);
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    height: 65px;
    width: 1515px;
    background-position: fixed;
    background-color: rgb(171, 252, 10);
    /* text-shadow: x-offset y-offset blur-radiuus color */
    text-shadow: 3px 3px 5px #f4840d;
}

.checkfirst {
    padding: 0px;
    margin: 0px;
    border: 0px solid rgb(206, 21, 21);
    height: 680px;
    width: 1450px;
    position: fixed;
}

.first {
    border: 2px solid sienna;
    background-color: greenyellow;
    display: flex;
    flex: 50%;
    justify-content: right;
    background-color: green;
    text-decoration: none;
    width: 1515px;
}

.one {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.two {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 3px 3px 5px #faf3ec;
}

.three {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.four {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.status {
    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(13, 13, 212);
    text-decoration-color: aquamarine;
    text-shadow: 3px 3px 5px #f4840d;
}

.status {
    text-align: center;
    max-width: 80%;
    text-align: center;
}

.leftphoto {
    text-align: center;
    justify-content: right;
}