.name {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-style: initial;
    font-size: 50px;
}

.checkfirst {
    padding: 20px;
    margin: 10px;
    border: 2px solid rgb(206, 21, 21);
    height: 680px;
    width: 1450px;
}

.first {
    border: 2px solid sienna;
    background-color: greenyellow;
    display: flex;
    flex: 50%;
    justify-content: right;
    background-color: green;
    text-decoration: none;
}

.one {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.two {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.three {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.four {
    border: 2px solid rgb(42, 36, 36);
    height: 20px;
    width: 60x;
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.status {
    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(13, 13, 212);
    text-decoration-color: aquamarine;
}

p {
    text-align: center;
    max-width: 40%;
}